# Code Composer Studio specific files to ignore

/MCU+Image/
/targetConfigs/
/.settings/
/Debug/
/Release/
*/Debug/
*/Release/

.xdchelp

.config/
.launches/
.settings/



targetConfigs/

image.syscfg*
*.bak
*.out
*.o
*.obj
*.d
*.map
*.html


*.out
*.hex
*.bin

.metadata/

*.log