# Code Composer Studio specific files to ignore

/MCU+Image/
/.settings/
/Debug/
/Release/
*/Debug/
*/Release/

.xdchelp

.config/
.launches/
.settings/


*.bak

targetConfigs/

*.o
*.obj
*.d
*.map
*.html


*.out
*.hex
*.bin

.DS_Store
Thumbs.db

.metadata/

*.log